.ffb {
    position: relative;
    border: 1px solid black;
}

.ffb-button {
    background-color: #EEEEEE;
    border: 1px solid #BDBDBD;
    color: #424242;

    &:hover:not(:disabled):not(.button--loading) {
        background-color: #E0E0E0;
        border-color: #9E9E9E;
    }

    padding: 12px 8px 10px 8px;
    font-size: .875rem;
    line-height: 1rem;
    width: initial;

    user-select: none;
    display: block;

    //-webkit-border-radius: 3px;
    //border-radius: 3px;
    background-clip: padding-box;
    font-weight: 500;
    text-align: center;

    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    transition-property: background-color, border-color, color;
    cursor: pointer;

    &:focus { outline: none; }
}
