.ffb-fileLoader {
    position: absolute;
    padding: 24px;
    width: 90px;
    height: 90px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;


    .ffb-fileLoader-dropzone--error {
        color: red;
        font-weight: bold;
    }

}

.ffb-fileLoader-topRight {
    right: 0;
    top: 40px;
}

.ffb-fileLoader-bottomLeft {
    left: 0;
    bottom: 40px;
}
